<a href="https://colab.research.google.com/github/jesvinv4u/new/blob/main/Movie%20Recomendation%20System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***The Movie Recomendation system***

-------------

## **Objective**

 ***To choose movies based on the user's interest and propose them to viewers based on those choices.***

## **Data Source**

***This data set is from the github of ybi foundation of link : https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.***

## **Import Library**

In [2]:
import pandas as pd
import numpy as np

## **Import Data**

In [3]:
p=pd.read_csv('https://github.com/YBIFoundation/Dataset/raw/main/Movies%20Recommendation.csv')

## **Describe Data**

In [4]:
p.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [ ]:
p.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [5]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

## **Data Visualization**

In [6]:
df_features = p[['Movie_Genre','Movie_Keywords','Movie_Tagline','Movie_Cast','Movie_Director']].fillna('')

In [7]:
df_features.shape

(4760, 5)

In [12]:
x = df_features['Movie_Genre']+ ' ' +df_features['Movie_Keywords']+ ' ' +df_features['Movie_Tagline']+ ' ' +df_features['Movie_Cast']+ ' ' +df_features['Movie_Director']
x

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                           Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [9]:
x.shape

(4760,)

## **Get feature text conversion to tokens**

In [13]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(x)
x

<4760x17258 sparse matrix of type '<class 'numpy.float64'>'
	with 123666 stored elements in Compressed Sparse Row format>

In [14]:
x.shape

(4760, 17258)

In [15]:
print(x)

  (0, 617)	0.1633382144407513
  (0, 492)	0.1432591540388685
  (0, 15413)	0.1465525095337543
  (0, 9675)	0.14226057295252661
  (0, 9465)	0.1659841367820977
  (0, 1390)	0.16898383612799558
  (0, 7825)	0.09799561597509843
  (0, 1214)	0.13865857545144072
  (0, 729)	0.13415063359531618
  (0, 13093)	0.1432591540388685
  (0, 15355)	0.10477815972666779
  (0, 9048)	0.0866842116160778
  (0, 11161)	0.06250380151644369
  (0, 16773)	0.17654247479915475
  (0, 5612)	0.08603537588547631
  (0, 16735)	0.10690083751525419
  (0, 7904)	0.13348000542112332
  (0, 15219)	0.09800472886453934
  (0, 11242)	0.07277788238484746
  (0, 3878)	0.11998399582562203
  (0, 5499)	0.11454057510303811
  (0, 7071)	0.19822417598406614
  (0, 7454)	0.14745635785412262
  (0, 1495)	0.19712637387361423
  (0, 9206)	0.15186283580984414
  :	:
  (4757, 5455)	0.12491480594769522
  (4757, 2967)	0.16273475835631626
  (4757, 8464)	0.23522565554066333
  (4757, 6938)	0.17088173678136628
  (4757, 8379)	0.17480603856721913
  (4757, 15303)	0.07654356007668191
  (4757, 15384)	0.09754322497537371
  (4757, 7649)	0.11479421494340192
  (4757, 10896)	0.14546473055066447
  (4757, 4494)	0.05675298448720501
  (4758, 5238)	1.0
  (4759, 11264)	0.33947721804318337
  (4759, 11708)	0.33947721804318337
  (4759, 205)	0.3237911628497312
  (4759, 8902)	0.3040290704566037
  (4759, 14062)	0.3237911628497312
  (4759, 3058)	0.2812896191863103
  (4759, 7130)	0.26419662449963793
  (4759, 10761)	0.3126617295732147
  (4759, 4358)	0.18306542312175342
  (4759, 14051)	0.20084315377640435
  (4759, 5690)	0.19534291014627303
  (4759, 15431)	0.19628653185946862
  (4759, 1490)	0.21197258705292082
  (4759, 10666)	0.15888268987343043

## **Get similarity score using cosine similarity**

In [16]:
from sklearn.metrics.pairwise import cosine_similarity
similarity_score = cosine_similarity(x)
similarity_score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

# **Get movie name as input from user and variable for closest spelling**

In [19]:
favourite_movie = input('Enter your favourite movie: ')

Enter your favourite movie: avatar

In [21]:
all_movies_title_list = p['Movie_Title'].tolist()

In [22]:
import difflib

In [23]:
movie_recommendation = difflib.get_close_matches(favourite_movie, all_movies_title_list)
print(movie_recommendation)

['Avatar']

In [32]:
index_of_close_match_movie = p[p.Movie_Title == close_match]['Movie_ID'].values[0]
print(index_of_close_match_movie)

256

## **Movie Recommendation System**

In [31]:
Movie_Name = input('enter your favourite movie name : ')
list_of_all_titles = p['Movie_Title'].tolist()
find_close_match = difflib.get_close_matches(Movie_Name, list_of_all_titles)
close_match = find_close_match[0]
index_of_movie = p[p.Movie_Title == close_match]['Movie_ID'].values[0]
recommendation_score = list(enumerate(similarity_score[index_of_movie]))
sorted_similar_movies = sorted(recommendation_score, key = lambda x:x[1], reverse = True)
print('top 10 movies suggested for you: \n')

i=1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = p[p.Movie_ID==index]['Movie_Title'].values
    if(i<11):
        print(i,'.',title_from_index)
        i+=1

enter your favourite movie name : titanic
top 10 movies suggested for you:

1 . ['Titanic']
2 . ['Freaky Friday']
3 . ['Holes']
4 . ['The Brothers Solomon']
5 . ['Krush Groove']
6 . ["We're No Angels"]
7 . ['Broken Arrow']
8 . ['Akeelah and the Bee']
9 . ['A Civil Action']
10 . ['Rush']

# **Get all movies sort based on recommendation score with respect to(wrt) favourite movie**

In [33]:
sorted_similar_movies = sorted(recommendation_score,key = lambda x:x[1], reverse = True)

In [35]:
print('top 30 movies suggested for you: \n ')

i = 1

for movie in sorted_similar_movies:
    index = movie[0]
    title_from_index = p[p.index==index]['Movie_Title'].values[0]
    if (i<31):
        print(i,'.',title_from_index)
        i+=1

top 30 movies suggested for you:

1 . City of God
2 . Night of the Living Dead
3 . Step Up 2: The Streets
4 . A Nightmare on Elm Street 3: Dream Warriors
5 . Two Evil Eyes
6 . The Family Man
7 . S.W.A.T.
8 . Tuck Everlasting
9 . Disturbing Behavior
10 . The Place Beyond the Pines
11 . Crash
12 . Salton Sea
13 . Masked and Anonymous
14 . ZMD: Zombies of Mass Destruction
15 . Closer
16 . Hollow Man
17 . Trash
18 . Get Rich or Die Tryin'
19 . Thirteen Conversations About One Thing
20 . Like Crazy
21 . Enemy of the State
22 . Chloe
23 . Down Terrace
24 . The Cry of the Owl
25 . Logan's Run
26 . Collateral Damage
27 . The Hurt Locker
28 . Bad Santa
29 . Body Double
30 . City By The Sea